body, html{ 
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #370D73;
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #370D73;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px; 
}

.left-login h1 {
    color: #50F296;
    text-align: center;
    font-size: 40px;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.card {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #7839cf;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card h1 {
    color: #4de48e;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
}


.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input {
    width: 25vw;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #A36BF2;
    color: rgb(221, 218, 218);
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.textfield label {
    color: rgb(221, 218, 218);
    margin-bottom: 10px;
    font-size: 18px;
}

.textfield input::placeholder {
    color: #d5d3d5;
}

.btn-login {
    width: 300px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    color: #2d0b5e;
    background: #4de48e;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }

    .btn-login {
        width: 220px;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .btn-login {
        width: 120px;
    }

    .card {
        width: 150%;
    }

}

