@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3A3959;
}

.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A89AD9;
    padding: 2rem;
}

.left-container h1 {
    font-size: 24px;
    font-weight: bold;
    color: #50F296;
    margin-bottom: 20px;
    text-align: center;
}

.left-container img {
    max-width: 100%;
    height: auto;
}

.form {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header {
    text-align: center;
    margin-bottom: 2rem;
}

.form-header h1 {
    font-size: 1.5rem;
    color: #333;
    position: relative;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #A89AD9;
    margin: 10px auto;
    border-radius: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.input-box {
    margin-bottom: 1rem;
}

.input-box label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
    display: block;
}

.input-box input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.input-box input:focus {
    outline: none;
    border-color: #A89AD9;
}

.forgot-password {
    font-size: 0.9rem;
    color: #A89AD9;
    text-decoration: none;
    margin-top: 1.5rem; 
    position: relative;
    bottom: 10px;
}

.forgot-password:hover {
    color: #9b84ee;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.home-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.continue-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.continue-button button {
    background-color: #A89AD9;
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #9b84ee;
}

.continue-button button {
    background-color: #A89AD9;
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.continue-button button:hover {
    background-color: #9b84ee;
}

.btn-cadastro {
    margin-top: 1rem;
    display: flex;
    justify-content: center; 
}

.btn-cadastro button {
    background-color: #A89AD9;
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 50%; 
}

.btn-cadastro button:hover {
    background-color: #9b84ee;
}

.btn-cadastro button a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-container {
        width: 100%;
        padding: 1rem;
    }

    .form {
        width: 100%;
        padding: 1rem;
    }

    .btn-cadastro button,
    .continue-button button {
        width: 100%;
    }
}
